<li [ngClass]="{'my-message': amITheAuthor(), 'others-message': !amITheAuthor()}">
  <div *ngIf="amITheAuthor(); then my_message else others_message"></div>
</li>

<ng-template #my_message>
  <div class="talk-bubble tri-right">
    <div class="talktext">
      <h4>{{!message.author ? 'Anonymous' : message.author}} - <span class="date">{{message.time | date: "HH:mm:ss, dd/MM"}}</span></h4>
      <p>{{message.message}}</p>
    </div>
  </div>
  &nbsp;
  <div class="circle my-circle">{{!message.author ? '?' : message.author.charAt(0)}}</div>
</ng-template>

<ng-template #others_message>
  <div class="circle">{{!message.author ? '?' : message.author.charAt(0)}}</div>
  &nbsp;
  <div class="talk-bubble tri-left">
    <div class="talktext">
      <h4>{{!message.author ? 'Anonymous' : message.author}} - <span class="date">{{message.time | date: "HH:mm:ss, dd/MM"}}</span></h4>
      <p>{{message.message}}</p>
    </div>
  </div>
</ng-template>