textarea {
    width: 100%;
    resize: none;
}

button {
  width: 30%;
}

.message-list {
  max-height: 400px;
  overflow-y: scroll;
}

p {
  color: #797979;
}

.waiting {
  color: #fff;
  font-size: 32px;
  text-align: center;
}