textarea {
    width: 90%;
    resize: none;
}

button {
  padding: 3px;
  overflow: hidden;
  width: 9.5%;
}

.textarea {
  height: 90px;
  display: flex;
  justify-content: space-between;
}

.message-list {
  max-height: 400px;
  overflow-y: scroll;
}

p {
  color: #797979;
}

.waiting {
  color: #fff;
  font-size: 32px;
  text-align: center;
}